header {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 99%;
	padding-left: 1%;
	background-color: #01092c;
	.menu {
		text-align: center;
		margin-top: 14px;
		li {
			display: inline-block;
			margin: 0 16px;

			a {
				text-transform: uppercase;
				font-size: 22px;
				font-weight: 600;
				color: #ff9700FF;
			}
		}
	}

	@media only screen and #{$phone} {
		height: 80px;
	}

}


// Menu burger

.menu-burger {
	perspective: 500px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 43px;
	display: none;

	@media only screen and #{$maxTabletLand} {
		display: inline-block;
	}

	@media only screen and #{$phone} {
		top: 28px;
	}

	&.expanded {
		top: 42px;

		.line-1 {
			transform: rotateZ(-180deg) rotate(-135deg) translateY(3px) translateX(5px);
		}
		.line-2 {
			opacity: 0;
		}
		.line-3 {
			transform: rotateZ(180deg) translateY(19px) translateX(0px) rotate(135deg);
		}
	}

	& > div {
		width: 32px;
		border-radius: 5px;
		cursor: pointer;
		height: 2px;
		background-color: #fff;
		margin: 10px 0px;
		@include transition(0.5s);
		&:first-child {
			margin-top: 0px;
		}
	}

	&.white-burger {

		& > div {
			background-color: #fff !important;
		}
	}
}