/*======================= CSS Reset ===========================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, section, main, footer, header, figure, aside, input, textarea, i, mark, *:before, *:after { margin : 0; padding : 0; border : 0; outline : 0; font-weight : inherit; font-style : inherit; font-size : 100%; font-family : inherit; vertical-align: top; background:transparent; line-height: 1; -webkit-font-smoothing: antialiased;@include boxSizing(border-box)}
html, body {width:100%;}
html {overflow-y: scroll;overflow-x: hidden }
body { overflow: hidden}
ol, ul { list-style: none; }
:focus { outline:0; }

.clearfix:after { content: ""; display: table; clear: both;}

table, table td tr {
	border:none; border-collapse: collapse;
}

button, a, input, textarea, select { background: none; border: 0; color: inherit; font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-appearance: none;-moz-appearance: none;appearance: none;}