$primaryFontLight : 'GeneralSans-Light';
$primaryFontRegular : 'GeneralSans-Regular';
$primaryFontItalic : 'GeneralSans-Italic';
$primaryFontMedium :  'GeneralSans-Medium';
$primaryFontBold : 'GeneralSans-Bold';



$primaryColor: #9ba5a1;
$primaryColorHover: #8b9490;


$darkColors: #000;
$textColor: #0f0710;


$placeholder: #252839;
$menuColor :#252839;


$fontSize196: 12.25em;
$fontSize50: 3.125em;
$fontSize40: 2.5em;
$fontSize36: 2.25em;
$fontSize32: 2em;
$fontSize28: 1.75em;
$fontSize26: 1.625em;
$fontSize24: 1.5em;
$fontSize22: 1.375em;
$fontSize20: 1.25em;
$fontSize18: 1.125em;
$fontSize16: 1em;
$fontSize14: 0.875em;


$xDesktop: "(min-width: 1921px)";
$lDesktop: "(max-width: 1919px)";

$desktop: "(min-width: 1280px)";

$maxLaptop: "(max-width: 1440px)";
$minLaptop: "(min-width: 1280px)";

$iPadPro: "(min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)";

$maxTabletLand: "(max-width: 1279px)";
$minTabletLand: "(min-width: 1024px)";

$maxTabletPort: "(max-width: 1023px)";
$minTabletPort: "(min-width: 768px)";

$phone: "(max-width: 767px)";
$phoneHeight568: "(max-height: 568px)";
$phoneHeight700: "(max-height: 700px)";

$xlPhone: "(max-width: 639px)";
$lPhone: "(max-width: 479px)";
$mPhone: "(max-width: 359px)";
$sPhone: "(max-width: 319px)";